:root {
    --link-hover-color: steelblue;
}
body {
    margin: 0 auto;
    padding: 20px;
    background: black;
    color: white;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: auto 600px auto;
    gap: 20px;
    height: 100vh;
    width: 1280px;
    box-sizing: border-box;
    align-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.top-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0px 10px;

    > nav {
        display: flex;
        flex-direction: row;
        justify-self: center;
        width: fit-content;
        grid-column: 2;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        anchor-name: --hovered-link;

        &::after {
            content: '';
            position: absolute;
            left: anchor(left);
            right: anchor(right);
            bottom: anchor(bottom);
            height: 4px;
            background: var(--link-hover-color);
            position-anchor: --hovered-link;
            transition: left 300ms, right 300ms, bottom 300ms, background 300ms;
            border-radius: 4px;
        }

        > ul {
            display: flex;
            justify-content: center;
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin: 0;

            > li {
                padding: 10px;

                > a {
                    color: white;
                    text-decoration: none;
                    padding: 0;
                    margin: 0;
                }
            }

            > li:hover {
                anchor-name: --hovered-link;
            }
        }
    }

    > div.social {
        grid-column: 3;
        justify-self: end;
        display: flex;
        flex-direction: row;
        align-self: baseline;
        gap: 10px;

        > a {
            text-decoration: none;
            padding: 0;
            margin: 0;
        }

        > a img {
            width: 36px;
            height: 36px;
            border-radius: 4px;
            margin: 0;
            padding: 0;
        }
    }

    > div.myname {
        display: flex;
        align-items: center;
        grid-column: 1;
        font-family: "Bruno Ace", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.6em;
    }
}

.sub-links,.main-content,.bottom-bar {
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    font-size: 0.9em;
    text-align: justify;

    > p {
        margin: 0;
        margin-bottom: 0.75em;
        padding: 0;
        position: relative;
        z-index: 1;
        pointer-events: none;
    }

    > ul {
        list-style: disc;
        position: relative;
        z-index: 1;
        pointer-events: none;

        > li {
            text-align: left;
            margin-bottom: 5px;
        }
    }

    > h1 {
        margin: 0 0 0.5em 0;
        padding: 0;
        font-size: 1.5em;
        text-align: left;
        position: relative;
        z-index: 1;
        pointer-events: none;
    }

    > p + h1 {
        margin-top: 1em;
    }

    a {
        color: var(--link-hover-color);
        text-decoration: underline;
        pointer-events: auto;
    }

    > div.follow-board-background {
        position: absolute;
        display: flex;
        left:0;
        top:0;
        right:0;
        bottom:0;
        margin:0;
        padding:0;
        box-sizing: border-box;
        z-index: 0;
        justify-content: center;
        align-items: center;
    }

    follow-board {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 480px;
    }
}

.sub-links {
    grid-column: 1;
    grid-row: 2;
}

.main-content {
    grid-column: 2;
    grid-row: 2;
    overflow-x: auto;
    overflow-y: auto;
}

.bottom-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3; 
}