:root {
    --link-hover-color: steelblue;
}
body {
    margin: 0 auto;
    padding: 20px;
    background: black;
    color: white;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: auto 600px auto;
    gap: 20px;
    height: 100vh;
    width: 1280px;
    box-sizing: border-box;
    align-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.top-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    > nav {
        display: flex;
        flex-direction: row;
        justify-self: center;
        width: fit-content;
        grid-column: 2;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        anchor-name: --hovered-link;

        &::after {
            content: '';
            position: absolute;
            left: anchor(left);
            right: anchor(right);
            bottom: anchor(bottom);
            height: 4px;
            background: var(--link-hover-color);
            position-anchor: --hovered-link;
            transition: left 300ms, right 300ms, bottom 300ms, background 300ms;
            border-radius: 4px;
        }

        > ul {
            display: flex;
            justify-content: center;
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin: 0;

            > li {
                padding: 10px;

                > a {
                    color: white;
                    text-decoration: none;
                    padding: 0;
                    margin: 0;
                }
            }

            > li:hover {
                anchor-name: --hovered-link;
            }
        }
    }

    > div.social {
        grid-column: 3;
        justify-self: end;
        display: flex;
        flex-direction: row;
        align-self: baseline;
        gap: 10px;

        > a {
            text-decoration: none;
            padding: 0;
            margin: 0;
        }

        > a img {
            width: 36px;
            height: 36px;
            border-radius: 4px;
            margin: 0;
            padding: 0;
        }
    }
}

.sub-links,.main-content,.bottom-bar {
    padding: 10px;
    box-sizing: border-box;
    font-size: 0.9em;
    text-align: justify;

    > p {
        margin: 5px 0;
        padding: 0;
    }

    > ul {
        list-style: disc;

        > li {
            text-align: left;
            margin-bottom: 5px;
        }
    }

    > h1 {
        margin: 0 0 0.5em 0;
        padding: 0;
        font-size: 1.5em;
    }

    > p + h1 {
        margin-top: 1em;
    }

    a {
        color: var(--link-hover-color);
        text-decoration: underline;
    }
}

.sub-links {
    grid-column: 1;
    grid-row: 2;
}

.main-content {
    grid-column: 2;
    grid-row: 2;
}

.bottom-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3; 
}