follow-board {
    aspect-ratio: 1;

    > div {
        --board-background: rgb(128, 128, 128);

        margin: 0;
        padding: 0;
        display: grid;
        width: 100%;
        height: 100%;
        position: relative;

        anchor-name: --follow-anchor;

        > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
            z-index: 2;
        }

        &::after {
            content: '';
            position: absolute;
            position-anchor: --follow-anchor;
            left: anchor(left);
            top: anchor(top);
            width: var(--cell-size, 100px);
            height: var(--cell-size, 100px);
            background-color: var(--board-background);
            border-radius: 8px;
            pointer-events: none;
            transition: left var(--anim-speed) linear, top var(--anim-speed) linear, opacity var(--anim-speed), background-color var(--anim-speed);
            opacity: 0;
            z-index: 1;
        }

        &:has(span:hover)::after {
            opacity: 1;
        }

        > span {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            border: 1px solid black;
            box-sizing: border-box;

            &:hover {
                anchor-name: --follow-anchor;
            }

            &.last-hovered {
                anchor-name: --follow-anchor;
            }
        }
    }
}