follow-navbar {
    display: block;
    margin: 0;

    > nav {
        --base-follow-color: steelblue;
        --base-font-size: 1.2em;
        --follow-height: 4px;
        --follow-speed: 300ms;

        display: flex;
        flex-direction: row;
        box-sizing: border-box !important;
        padding: 0 !important;
        margin: 0 !important;
        align-items: center;
        justify-content: center;
        position: relative;

        li:hover {
            anchor-name: --hovered-link;
        }

        &::after {
            content: '';
            position: absolute;
            left: anchor(left);
            right: anchor(right);
            bottom: anchor(bottom);
            height: var(--follow-height);
            background: var(--base-follow-color);
            position-anchor: --hovered-link;
            transition: left var(--follow-speed), right var(--follow-speed), bottom var(--follow-speed), background var(--follow-speed);
            border-radius: 4px;
        }

        @supports (corner-shape: squircle) {
            border-radius: 24px;
            corner-shape: squircle;
        }

        > ul {
            padding: 0 !important;
            margin: 0 !important;
            list-style: none !important;
            display: flex !important;
            flex-direction: row !important;
            justify-content: center !important;
            anchor-name: --hovered-link; 
        
            > li {
                flex: 0 0 auto;
                display: block;
                font-size: var(--base-font-size);
                padding: calc(0.5rem - var(--follow-height)) 0.5rem calc(0.5rem + var(--follow-height)) 0.5rem;
                color: white;

                > a {
                    color: white !important;
                    text-decoration: none !important;
                    padding: 0 !important;
                    margin: 0 !important;
                }
            }
        }
    }
}

.top-bar follow-navbar > nav {
    &::after {
        height: 4px !important;
    }

    > ul > li {
        padding: 10px !important;
    }
}
    